.About p {
    color: #9ba3ac;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.dorypic {
    max-width: 60%;
    max-height: 60%;
    float: left;
    margin-right: 10px;
}